

@{
    string comma = ",";
    string quote = "'";
    
}





<html>

<head>
    <title>Chart Test</title>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>

    <script
  src="https://code.jquery.com/jquery-3.3.1.js"
  integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
  crossorigin="anonymous"></script>

  

</head>

<body>

    <p id="currency">CrybtoAPI</p>

    <select id="display"  >
        <option value="Week" selected="selected">Week</option>
        <option value="Month">Month</option>
    </select>

    <canvas id="myLineChart" width="300" height="100" style="display: block;"></canvas>
        
            
            
    </p>
    <script>
        var ctx = document.getElementById("myLineChart").getContext('2d');

        
        

            
                $(document).ready(function(){
                    $("#display").change(function(){

                         var myLineChart = new Chart(ctx, {
                                
                                type: 'line',
        
        data: {
            labels: [@foreach (var d in @ViewBag.dates){
                if( @ViewBag.dates.IndexOf(@d) == 30){
                    break;
               }
                   @d@comma

                }],
        datasets: [{ //////////////////////////////// first 
            label: "BTC",
            backgroundColor: 'rgba(247, 147, 26, 0.5)',
            borderColor: 'rgb(247, 147, 26)',
            data:[   @foreach (var p in @ViewBag.BTC){
                @p@comma
                }]
            
        },
        
        {
            label: "LTC",
           backgroundColor: 'rgba(182, 183, 186, 0.5)',
            borderColor: 'rgb(182, 183, 186)',
            data: [ @foreach (var p in @ViewBag.LTC){
                @p@comma
                }]

        }
        ,{
            label: "ETH",
            backgroundColor: 'rgba(55, 55, 110, 0.521)',
            borderColor: 'rgb(55, 55, 24)',
            data: [ @foreach (var p in @ViewBag.ETH){
                @p@comma
                }]

        }
        ,
        {
            label: "BCH",
            backgroundColor: 'rgba(0, 168, 90, 0.521)',
            borderColor: 'rgb(0, 168, 90)',
            data: [ @foreach (var p in @ViewBag.BCH){
                @p@comma
                }]

        }    
        ]
      
    },
        options: {
            elements: {
                line: {
                    tension: 0, // disables bezier curves
                }
            }
        }
        });
       
            //    $("#low").text(@ViewBag.lastWeekMin)

       if($("#display").val()=="Week")

       {/////////////////////////////////////////////////// second one
           var myLineChart = new Chart(ctx, {
               
               type: 'line',
        
        data: {
            labels: [@for (int i=23;i< 30;i++){
               
                   @ViewBag.dates[i]@comma

                }],
        datasets: [{
            label: "BTC",
            backgroundColor: 'rgba(247, 147, 26, 0.5)',
            borderColor: 'rgb(247, 147, 26)',
            data:[    @for (int i=23;i< 30;i++){
               
                   @ViewBag.BTC[i]@comma
               
                }]
            
        },{                   
            label: "LTC",
            backgroundColor: 'rgba(182, 183, 186, 0.5)',
            borderColor: 'rgb(182, 183, 186)',
            data: [   @for (int i=23;i< 30;i++){
               
                   @ViewBag.LTC[i]@comma
               
                }],

        } ,
        {                   
            label: "ETH",
             backgroundColor: 'rgba(55, 55, 110, 0.521)',
            borderColor: 'rgb(55, 55, 24)',
            data: [   @for (int i=23;i< 30;i++){
               
                   @ViewBag.ETH[i]@comma
               
                }],

        },
        {                   
            label: "BCH",
             backgroundColor: 'rgba(0, 168, 90, 0.521)',
            borderColor: 'rgb(0, 168, 90)',
            data: [   @for (int i=23;i< 30;i++){
               
                   @ViewBag.BCH[i]@comma
               
                }],

        } ]
      
    },
        options: {
            elements: {
                line: {
                    tension: 0, // disables bezier curves
                }
            }
        }
        });

        // $("#low").text(@ViewBag.lastWeekMin)


       }// if statement
                        
                        
                        
                        })
                        
                        
                        if($("#display").val()=="Month"){
                            
                           
                        }
       else if($("#display").val()=="Week")

       {////////////////////////////////////////////// Last one
         
           var myLineChart = new Chart(ctx, {
               
               type: 'line',
        
        data:  {
            labels: [@for (int i=23;i< 30;i++){
               
                   @ViewBag.dates[i]@comma

                }],
        datasets: [{
            label: "BTC",
            backgroundColor: 'rgba(247, 147, 26, 0.5)',
            borderColor: 'rgb(247, 147, 26)',
            data:[    @for (int i=23;i< 30;i++){
               
                   @ViewBag.BTC[i]@comma
               
                }]
            
        },{   //                the last week display
            label: "LTC",
            backgroundColor: 'rgba(182, 183, 186, 0.5)',
            borderColor: 'rgb(182, 183, 186)',
            data: [   @for (int i=23;i< 30;i++){
               
                   @ViewBag.LTC[i]@comma
               
                }],

        },
        {                   
            label: "ETH",
             backgroundColor: 'rgba(55, 55, 110, 0.521)',
            borderColor: 'rgb(55, 55, 24)',
            data: [   @for (int i=23;i< 30;i++){
               
                   @ViewBag.ETH[i]@comma
               
                }],

        },
        {                   
            label: "BCH",
             backgroundColor: 'rgba(0, 168, 90, 0.521)',
            borderColor: 'rgb(0, 168, 90)',
            data: [   @for (int i=23;i< 30;i++){
               
                   @ViewBag.BCH[i]@comma
               
                }],

        }  ]
      
    },
        options: {
            elements: {
                  line: {
                    tension: 0, // disables bezier curves
                }
            }
        }
        });
                // $("#low").text(@ViewBag.lastWeekMin)

       }

                })






        
       

       
               

        
        </script>



        


        <p id="high">Highest:  USD</p>
        <p id="low">Lowest:  USD</p>

      
</body>

</html>